/* TIJDELIJK: The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 20px;
    z-index: 2000;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px ;
    border-radius: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    position: relative;
    float: right;
}

.modal-close:hover,
.modal-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-cancel:hover,
.modal-cancel:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 30px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    padding: 6px 16px 6px 16px;
    background-color: #000;
    z-index: 99;
}

.modal-body {padding: 30px}

.modal-footer {
    padding: 0px 30px 30px 30px;
}

.required {color: #C74237;}

.modal-body > .form-group {
    margin: 0px;
    padding-bottom: 20px;
}

.form-label-modal {
    color: #898989;
    font-size: 14px;
    font-weight: 100;
    line-height: 16px;
}

.input-text-modal {
    border: 1px solid #9B9B9B;
    background-color: #FFFFFF;
    border-radius: 0;
}

.form-group {margin-top:0px;}

.modal-dropdown-search {
    background: #ffffff  url("../svg/dropdown.svg")  no-repeat 99% center;
    background-size: 20px 20px;
    width: 100%;
    margin-left: 30px;
    height: 36px;
    border: 1px solid #9B9B9B;
    padding-right: 30px;
    padding-left: 15px;
    float: right;
    -webkit-appearance:none;
    color: #535353;
    font-size: 14px;
    border-radius: 0px;
}

.modal-dropdown-search option{
    color: #535353;
    font-size: 14px;
}

.add-more-info {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}

/*
 CSS for the main interaction
*/
.tabset input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset  input:nth-child(1):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset  input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset  input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset  input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset  input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(7),
.tabset  input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(8),
.tabset  input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(9),
.tabset  input:nth-child(15):checked ~ .tab-panels > .tab-panel:nth-child(10),
.tabset  input:nth-child(17):checked ~ .tab-panels > .tab-panel:nth-child(11),
.tabset  input:nth-child(19):checked ~ .tab-panels > .tab-panel:nth-child(12) {
    display: block;
}

/*
 Styling
*/
.tabset > label {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    margin: 0px;
}

.tabset > label:hover,
.tabset input:focus + label {
    color: #000000;
}


.tabset > label:hover::after,
.tabset input:focus + label::after,
.tabset input:checked + label::after {
    background: #000000;
}

.tabset input + label {
    background-color: #5D99CA;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    border: 1px solid #9B9B9B;
}


.tabset input:checked + label {
    background-color: #fff;
    color: #000;
    border: 1px solid #9B9B9B;
    border-bottom: none;
}

.tab-panel {
    padding: 30px 0;
}

.tab-hr {
    margin: 0;
    width: 100%;
}

.add_more {
    color:#000;
    margin-left:15px;
}
.new-tab{
    background-color:  orange !important;
}

.new-tab > span{
    top:0px;
    left: 6px;
}